:root {
    --text-color: #0d1b2a;
    --text-highlight: #0a369d;
    --secondary-highlight: #16c172;
    --link-text: #35767c;
    --secondary-text-color: #5f6368;
    --border-color: #dadce0;
    --background-color: white;
    --bg-dark: #0d1b2a;
}


.projects-content {
    padding: 0 100px
}

.project-btn {
    padding: 8px 20px;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px -3px, rgba(0, 0, 0, 0.05) 0px 3px 6px -3px;

}

.main-btn {
    background-color: var(--text-highlight);
    color: white;
    margin-top: 2px;
    border: 1.1px solid var(--border-color);

}

.secondary-btn {
    background-color: white;
    border: 1.1px solid var(--border-color);
    color: var(--text-highlight);
}

.project-actions {
    display: flex;
    gap: 20px
}

.project-section {
    display: flex;
    gap: 70px;
    margin: 10% auto;
}

.section-images {
    flex: 1;
    position: relative;
    display: flex;
    align-self: flex-start;
}


.section-images img {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.section-content {
    flex: 2;
    width: 100%;
}

.project-title {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    width: 90%
}

.project-subtitle {
    margin: 30px 0;
    font-size: 1.2em;
}

.project-text {
    margin: 20px 0;
    font-size: 1em;
    width: 90%;
}