:root {
    --text-color: #282828;
    --text-highlight: #35767c;
    --link-text: #35767c;
    --secondary-text-color: #5f6368;
    --border-color: #dadce0;
    --background-color: white;
    --bg-dark: #160101;
}

body {
    font-family: 'SUSE', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    font-size: 1em;
    line-height: 1.4;
    color: var(--text-color);
    margin: 60px auto;
    padding: 20px;
    max-width: 800px;
}

h1 {
    color: var(--text-highlight);
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'SUSE', sans-serif;
}

h2 {
    color: var(--text-highlight);
    font-weight: 600;
    font-size: 1.4em;

    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

h3 {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 0;
    font-family: 'SUSE', sans-serif;
}

.section {
    margin-bottom: 30px;
}

.big-list-item {
    margin-top: 30px
}

.contact-info {
    margin: 30px 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
}

a {
    color: var(--link-text);
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

.date {
    color: var(--secondary-text-color);
    font-style: italic;
    margin: 0;
    line-height: 1em;
}

.sub-text {
    margin: 0;
    padding: 0
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark);
    padding: 10px 30px;
    color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: 'SUSE', sans-serif;
}

.gradient-title {
    background: linear-gradient(45deg, #f6f5f5, #35767c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.navbar-brand {
    font-size: 1.6em;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    font-size: 1.2em
}

.navbar-links a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: 500;
}

.navbar-links a:hover {
    text-decoration: underline;
}